<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel='stylesheet prefetch' href='//fonts.googleapis.com/css?family=Fredoka+One|Righteous'>
  <link rel='stylesheet prefetch' href='//cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//rawgit.com/isagalaev/highlight.js/master/src/styles/github.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />
</head>

<body>
  <div class="kb-row">
  {% include nav.html context="/" %}
  <div id="main" role="main">
    <div class="container">
    <div class="content">
      <section class="section">
        {{ content }}
      </section>
    </div>
  </div>
</div>
</div>
  {% include footer.html %}
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js"></script>
  <script src='//rawgit.com/Kibibit/code-snippets/master/highlight.pack.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.3.0/highlightjs-line-numbers.min.js'></script>

  <script src="{{ site.baseurl }}/assets/parse-explanations.js"></script>
</body>

</html>
