---
layout: page
no_nav: true
---
<h1 class="title"><span class="kb-logo">kibibit</span>: postmortem for {{ page.project | default: '<span class="kb-error">MISSING PROJECT</span>' }}</h1>
<p class="subtitle">{{ page.title | default: '<span class="kb-error">MISSING TITLE</span>' }}{% if page.incident %} (incident #{{ page.incident }}){% endif %}</p>
<span class="kb-tags tags">
{% for author in page.authors %}
<span class="tag">{{ author }}</span>
{% endfor %}
</span>
{% if page.date %}
<p class="kb-date"><span class="icon has-text-info"><i class="fa fa-clock-o"></i></span>{{ page.date }}</p>
{% endif %}
{{ content }}
